.btnClass {
  display: block;
  width: 250px;
  height: 48px;
  border: 1px solid #1c1c1c;
  background-color: transparent;
  border-radius: 2px;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  color: #1c1c1c;
  &:hover {
    background-color: #6d0000;
    border: 1px solid transparent;
    color: #fff;
    transition: all 400ms;
  }
}
