*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  padding-inline-start: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #1c1c1c;
}

body {
  min-height: 100%;
  background-color: #e5e5e5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2 {
  font-family: "Viaoda Libre", cursive;
  font-weight: normal;
}
